<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        #myProgress {
            width: 100%;
            background-color: grey;
        }

        #myBar {
            width: 0%;
            height: 30px;
            background-color: #4caf50;
            text-align: center;
            /* To center it horizontally (if you want) */
            line-height: 30px;
            /* To center it vertically */
            color: white;
        }
    </style>
</head>

<body>
    <div id="index">
        <h1>Ping sweep your network</h1>
        <input type="text" name="ip" id="ip" value=" <%=ip_cidr%>" />
        <button onclick="pingHosts()">Do ping sweep</button>
        <div id="progress-bar">
            <div id="myProgress">
                <div id="myBar"></div>
            </div>
            <table id="hostsTbl"></table>
        </div>
        <table id="hosts"></table>
    </div>

    <script>
        const hostsList = document.querySelector("#hosts");
        async function pingHosts() {
            const ip = document.querySelector("#ip").value.trim();
            const url = new URL(window.location.href + "pingSweep");
            const params = { ip };
            Object.keys(params).forEach(key => url.searchParams.append(key, params[key]));
            console.log(url)
            const request = await fetch(url);
            const json = await request.json();
            renderHosts(json);
        }

        const es = new EventSource("/pingProgress");
        const bar = document.getElementById("myBar");

        es.onmessage = function (event) {
            const progress = JSON.parse(event.data);
            bar.style.width = progress + "%";
            bar.innerHTML = progress + "%";
        };

        function renderHosts(hosts) {
            let html = `
                    <tr>
                      <th>Hosts</th>
                    </tr>`;
            hosts.forEach(host => {
                html += `<tr> <td> ${host} </td></tr>`;
            });
            hostsList.innerHTML = html;
        }
    </script>
</body>

</html>