<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Ping sweep your network</h1>
    <input type="text" name="ip" id="ip" value="<%= ip_cidr %>">
    <button onclick="pingHosts()">Do ping sweep</button>
    <div id="hosts">

    </div>

    <script>
        async function pingHosts() {
            const ip = document.querySelector("#ip").value
            const url = new URL(window.location.href + "pingSweep")
            const params = { ip };
            Object.keys(params).forEach(key => url.searchParams.append(key, params[key]))
            const request = await fetch(url)
            const json = await request.json();
            console.log(json)
        }
    </script>
</body>

</html>